Source: hurd
Section: base
Priority: required
Maintainer: GNU Hurd Maintainers <bug-hurd@gnu.org>
Standards-Version: 3.5.5.0
Build-Depends: file, mig (>= 1.3-2), texinfo, tetex-bin, autoconf
Uploaders: Marcus Brinkmann <brinkmd@debian.org>

Package: hurd
Priority: required
Section: base
Essential: yes
Depends: ${hurd:Depends}
Provides: makedev, login, fakeroot
Replaces: makedev, login, fakeroot
Conflicts: makedev, login, fakeroot
Architecture: hurd-i386
Description: The GNU Hurd
 This is the GNU Hurd package. It contains essential system software and
 libraries.

Package: hurd-dev
Priority: standard
Section: devel
Architecture: hurd-i386
Depends: hurd
Description: The GNU Hurd (development files)
 This package includes the header files and the static libraries.
